{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card shadow-sm">

<div class="card-header" data-tab="New account">

<h4>Create Account</h4>

</div>

<div class="card-body">

<form method="POST">

{% csrf_token %}

{{ form.as_p }}

<button class="btn btn-success w-100">

Register

</button>

</form>

<hr>

<p class="text-center">

Already have an account?

<a href="{% url 'login' %}">

Login

</a>

</p>

</div>

</div>

</div>

</div>

{% endblock %}